<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>40619929027-m7m4ae3rs9al2bc6u1nt8fq8koppbrtp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.40619929027-m7m4ae3rs9al2bc6u1nt8fq8koppbrtp</string>
	<key>API_KEY</key>
	<string>AIzaSyCCGDnTPj3hGRxHEq36Tkhl85vos4eTT58</string>
	<key>GCM_SENDER_ID</key>
	<string>40619929027</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hayata.EmailPasswordLoginSwift</string>
	<key>PROJECT_ID</key>
	<string>emailpaogin-cb5fc</string>
	<key>STORAGE_BUCKET</key>
	<string>emailpaogin-cb5fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:40619929027:ios:45ab119528b0ea0880a176</string>
</dict>
</plist>